<section>
	<article id="carrossel">
	  <div id="setaEsquerda" class="seta">&lt;</div>
	  <div id="img1" class="img">&nbsp;</div>
	  <div id="img2" class="img">&nbsp;</div>
	  <div id="img3" class="img">&nbsp;</div>
	  <div id="setaDireita" class="seta">&gt;</div>
	</article>
</section>
<section id="conteudoTexto">
  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl ligula, viverra nec facilisis nec, sollicitudin sed orci. Nulla nec nisl libero. Cras bibendum metus ut magna efficitur, eu laoreet ipsum porta. Nulla facilisi. Nulla imperdiet lorem lectus, eget posuere massa aliquet placerat. Proin id orci convallis, accumsan dolor tempor, molestie nunc. Maecenas non libero faucibus, vehicula magna ut, ultrices ex. In convallis justo vel risus egestas, ut vestibulum risus ullamcorper. Maecenas viverra est id purus consectetur, sit amet vulputate nisi imperdiet. Vivamus convallis cursus odio non accumsan. Cras eget venenatis est, vitae ultrices purus. Proin rutrum enim nulla, sit amet pharetra justo ultricies vel.
    </p>      
    <p>
      In faucibus euismod felis, sit amet iaculis enim elementum et. Suspendisse nec erat lorem. Nulla euismod ante vel sem elementum placerat. Suspendisse placerat quam ut felis consequat eleifend. Integer in congue nisi, ut malesuada ante. Donec fermentum et nisi ut viverra. Cras non nisi non justo congue tempus. Maecenas convallis tristique orci ac sagittis. Nulla eleifend, libero vel venenatis ullamcorper, est est vulputate ante, id tempor dui tortor vel augue. Quisque iaculis maximus lobortis. Cras lacinia cursus urna, et rhoncus arcu porttitor ac. Fusce tincidunt condimentum ante ac condimentum.
    </p>
    <p>
      Donec eu tortor ut velit pellentesque vestibulum. Nullam id justo orci. Maecenas dolor velit, cursus vitae lacinia non, fringilla et lorem. Mauris vestibulum quam id sapien malesuada mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla sed urna elit. Nunc at orci efficitur, facilisis mi vel, euismod nisl. Mauris arcu felis, venenatis sit amet ipsum nec, finibus efficitur arcu. 
    </p>
  </article>
</section>
<section id="imagensProdutos">
	<article>
	  <div id="img4">&nbsp;</div>
	  <div id="img5">&nbsp;</div>
	  <div id="img6">&nbsp;</div>
	</article>
</section>